body {
  --black: #000000;

  --pink: #ff0066;

  --background: var(--black);
  --accent: var(--pink);

  margin: 0;
  padding: 0;
  background-color: var(--background);
  padding-bottom: 100px;
  overflow: hidden;
}

.box {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--accent);
}
