@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Honk", sans-serif;
}
